# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
philid-validator/node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
vcs.xml
.venv/
venv/
.DS_Store
*.venv
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Uploads and temporary files
uploads/
*.tmp

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment/configuration files
.env
*.env
config.json
client_secret.json
creds/
